
# Semana 05
Carlos Alberto Ruiz Montero

# Temas:¶
1. Números
2. Variables
3. Manejo de cadenas
4. Ingreso de datos por teclado
5. Operadores

5. Operadores

In [1]:
# 5.1 operadores aritméticos
# Se tiene +, -, *, /, %, //

In [8]:
numero1 = 10
numero2 = 3
suma = numero1 + numero2
resta = numero1 - numero2
multiplicacion = numero1 * numero2
division = numero1 / numero2
residuo = numero1 % numero2
cociente = numero1 // numero2
potencia = numero1 ** numero2
print(suma)
print(resta)
print(multiplicacion)
print(division)
print(residuo)
print(cociente)
print(potencia)

13
7
30
3.3333333333333335
1
3
1000

In [9]:
# 5.2 Operadores de asignación
# Se tiene: =, +=, -=, *=, /=, **=
numero = 5
numero = numero +3
print(numero)

8

In [11]:
# Lo mismo se puede hacer con todos los casos, incluidos con la potencia
#Veamos otro ejemplo:
numero = 5
numero = numero ** 3
print(numero)

125

In [12]:
# La operación anterior también se puede expresar de la siguiente manera:
numero = 5
numero **= 3
print(numero)

125

In [13]:
# 5.3 Operadores de comparación
# se tienes: ==, !=, <, >, <=, >=

In [14]:
# Ejemplo de igualdad ==
numero1 = 5
numero2 = 2
numero1 == numero2

False

In [15]:
#Con las cadenas funciona igual
nombre1 = "Roxana"
nombre2 = "Roxana"
nombre1 == nombre2

True

In [16]:
# 5.4 Operadores lógicos
# Se tiene: and, or, not
numero1 = 5
numero2 = 6
numero3 = 7
numero4 = 8

In [17]:
numero1 < numero2

True

In [18]:
# El not invierte el resultado
not(numero1 < numero2)

False

In [19]:
numero1 < numero2 and numero3 < numero4

True

In [20]:
# También puedes utilizar parentesis para ordenar tu operacion
(numero1 < numero2 and numero3 < numero4) or (numero3 > numero4)

True

In [21]:
# 5.5 Operadores de Pertenencia
# Se tiene: in, not in

In [22]:
# Miremos un ejemplo:
aula = ["Juan","Daniel","Ruben"]
alumno1 = "Diego"
alumno2 = "Juan"

In [23]:
# ¿Diego está en aula?
alumno1 in aula

False

In [24]:
# ¿Juan está en aula?
alumno2 in aula

True

In [27]:
# ¿Diego no está en aula?
alumno1 not in aula

True

In [28]:
# ¿Juan no está en aula?
alumno2 not in aula

False

In [29]:
# 5.6 Operadores de identidad
# Se tiene: is, is not

In [30]:
aula1 = ["Juan", "Daniel","Ruben"]
aula2 = ["Juan", "Daniel","Ruben"]
# A continuación vamos a indicar que aula3 va a compartir el mismo objeto que aula1
aula3 = aula1

In [31]:
# ¿aula3 comparte el mismo objeto que aula1?
aula3 is aula1

True

In [32]:
# ¿aula3 comparte el mismo objeto que aula2?
aula3 is aula2

False

In [33]:
# ¿aula2 comparte el mismo objeto que aula1?
aula2 is aula1

False

In [34]:
aula1.append("Diego")

In [35]:
# Al imprimir los elementos de la lista de aula1 se observa
print(aula1)

['Juan', 'Daniel', 'Ruben', 'Diego']

In [36]:
# Al imprimir los elementos de la lista de aula3 se observa
print(aula3)

['Juan', 'Daniel', 'Ruben', 'Diego']

In [37]:
# Al imprimir los elementos de la lista de aula2 se observa
print(aula2)

['Juan', 'Daniel', 'Ruben']