# Semana 05
Carlos Alberto Ruiz Montero

# Temas:
1. Números
2. Variables
3. Manejo de cadenas
4. Ingreso de datos por teclado
5. Operadores

3. Manejo de cadena

In [1]:
cadena = "Universidad Nacional Tecnologica de Lima Sur"
cadena

'Universidad Nacional Tecnologica de Lima Sur'

In [2]:
#Universidad Nacional Tecnologica de Lima Sur
#01234..........                           -3 -2 -1

In [3]:
cadena[5]

'r'

In [4]:
cadena[10]

'd'

In [5]:
# También considera los espacios
cadena[11]

' '

In [6]:
# ¿Qué me mostrara?
cadena[-5]

'a'

In [7]:
cadena[21]

'T'

In [8]:
# También lo puedo mostrar accdiendo de manera inversa
cadena[-23]

'T'

In [9]:
# Para mostrar un subcadena [desde, hasta una nates]
# En Java era substring()
cadena[3:8]

'versi'

In [10]:
# Para saber el tamaño de una cadena utilizamos len()
# incluye los espacios en blanco()
len(cadena)

44

In [12]:
#Para mostrar una cadena en mayúscula utilizamos upper()
cadena.upper()

'UNIVERSIDAD NACIONAL TECNOLOGICA DE LIMA SUR'

In [13]:
# Ojo... solo lo muestra, porque el original sigue siendo igual
cadena

'Universidad Nacional Tecnologica de Lima Sur'

In [14]:
#si desearas cambiarlo harias: cadena = cadena.upper()
cadena = cadena.upper()
cadena

'UNIVERSIDAD NACIONAL TECNOLOGICA DE LIMA SUR'

In [15]:
# Para mostrar una cadena en minúsculas utilizamos lower()
cadena.lower()

'universidad nacional tecnologica de lima sur'

In [16]:
# Genera una lista a partir de una cadena  split()
cadena.split()

['UNIVERSIDAD', 'NACIONAL', 'TECNOLOGICA', 'DE', 'LIMA', 'SUR']

In [17]:
# Generar una lista utilizando un criterio de separación a partir de una cadena .split()
# En este caso vamos a generar una lista de toda la cadena utilizando como criterio de separacion la letra "A"
cadena.split("A")

['UNIVERSID', 'D N', 'CION', 'L TECNOLOGIC', ' DE LIM', ' SUR']

In [18]:
# Forma clásica, concatenar con +
nombre = "Carlos Ruiz"
print("Buenas tardes " + nombre)

Buenas tardes Carlos Ruiz

In [22]:
# Utilizando el .format()
nombre = "Pepito Perez"
edad = 10
print("Hola {} ya se que tienes {} años".format(nombre,edad))

Hola Pepito Perez ya se que tienes 10 años

In [24]:
# Dar formato a números con muchos decimales
resultado = 10/3
print("10/3 es = {}".format(resultado))
print("10/3 es = {r:1.3f} ".format(r=resultado))

10/3 es = 3.3333333333333335
10/3 es = 3.333

In [26]:
# Dar formato con f
#la función f está disponible desde la versión 3.6
nombre = "Pablito Calvo"
edad = edad
print(f"Buenos días {nombre}, ya se que tienes {edad} años")

Buenos días Pablito Calvo, ya se que tienes 10 años

In [27]:
# Dar formato a número con muchos decimales f
resultado = 10/3
print(f"10/3 es = {resultado} ")
print(f"10/3 es = {resultado:1.3f}")

10/3 es = 3.3333333333333335
10/3 es = 3.333