# Semana 05
Carlos Alberto Ruiz Montero

# Temas:
1. Números
2. Variables
3. Manejo de cadenas
4. Ingreso de datos por teclado
5. Operadores

2. Variables

Siempre deben iniciar con una letra o un guión abajo. (Nunca con un número u otro signo)

In [1]:
edad = 41

In [2]:
edad

41

In [3]:
nombre = "Carlos"

In [4]:
nombre

'Carlos'

In [5]:
apellido = "Ruiz Montero"

In [6]:
apellido

'Ruiz Montero'

In [7]:
nombrecompleto = nombre + apellido

In [8]:
nombrecompleto

'CarlosRuiz Montero'

In [9]:
nombrecompleto = nombre + " " + apellido

In [10]:
nombrecompleto

'Carlos Ruiz Montero'

# Para saber le tipo de varibale utilizamos la función type()
# Por ejemplo:

In [11]:
numero = 50
type(numero)

int

In [12]:
type(nombre)

str

In [13]:
talla = 1.68

In [14]:
talla

1.68

In [15]:
type(talla)

float

In [16]:
# Para convertir un numero en cadena utilizamos str()

In [17]:
numero = 100
cadena = str(numero)
cadena

'100'

In [18]:
type(cadena)

str

In [19]:
# Para convertir un número a cadena en un entero utilizamos int()
cadena2 = "50"
numero2 = int(cadena2)
numero2

50

In [20]:
type(numero2)

int

In [22]:
# Para convertir una cadena a u décimal utilizamos float()
cadena2 = "50"
numero2 = float(cadena2)
numero2

50.0

In [23]:
type(numero2)

float